.questions-list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  div {
    min-width: 45%;
    text-align: center;
    box-shadow: 2px 5px 16px 0 #e3e3e3 !important;
    padding: 10px;
  }
}
